/* Header Css */
.header
{
    width: 100%;
    padding: 20px 5%;
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
}

input
{
    width: 25%;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    text-indent: 5px;
}

/* news Articles Css */
.news-articles
{
    width: 100%;
    padding: 30px 5%;
    background-color: #f2f2f2;
    display: flex;
    column-gap: 4%;
    flex-wrap: wrap;
    row-gap: 20px;
}
.news
{
    width: 22%;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border-radius: 5px;
}
.news-img
{
    width: 100%;
    height: fit-content;
    /* background-color: blue; */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-size: cover;
    background-image: url(https://indimedo.com/public/product/1672817745ISOFRESH%2025%20SoftgelISOFRESH%2025%20Softgel%20Capsule%2010)
*/
}
.news-img img
{
    max-width: 100%;
}
.source
{
    display: flex;
    justify-content: space-between;
    color: gray;
}